<section class="footer-wrap global-bg mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="social-wrap">

        </div>
      </div>
      <div class="col-md-6">
        <div class="privacy-wrap d-flex justify-content-around">
          <a href="">Положення про користування мережею</a>
          <a href="">Політика конфіденційності</a>
        </div>
      </div>
      <div class="col-md-3">
        <span>Global Ukraine. &#169; Всі права захищені</span>
      </div>
    </div>
  </div>
</section>
