<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-3 mb-3">
      <div class="card card-body shadow-project">
        <h2 class="card-title text-primary">Додати новий проект</h2>
        <form #form="ngForm" (ngSubmit)="addProject()">
          <div class="form-group">
            <label for="name">Назва проекту</label>
            <input type="text"
                   class="form-control"
                   name="name"
                   [(ngModel)]="project.name"
                   id="name"
                   #projectName="ngModel"
                   required
            >
            <div class="alert alert-danger" *ngIf="projectName.touched && projectName.invalid">
              Це поле обов'язкове.
            </div>
          </div>
          <div class="form-group">
            <label for="description">Опис проекту</label>
            <textarea type="text"
                      class="form-control"
                      name="description"
                      [(ngModel)]="project.description"
                      id="description"
                      #projectDescription="ngModel"
                      required
            ></textarea>
            <div class="alert alert-danger" *ngIf="projectDescription.touched && projectDescription.invalid">
              Це поле обов'язкове.
            </div>
          </div>
          <div class="form-group">
            <label for="name">Посилання проекту</label>
            <input type="text"
                   class="form-control"
                   name="projectLink"
                   [(ngModel)]="project.link"
                   #projectLink="ngModel"
                   required
            >
            <div class="alert alert-danger" *ngIf="projectLink.touched && projectLink.invalid">
              Це поле обов'язкове.
            </div>
          </div>
          <div class="form-group">
            <label for="categories">Категорія</label>
            <select
              #categories="ngModel"
              [ngModel] = "project.category"
              name="categories"
              id="categories"
              (change)="changeCategory($event)"
              class="form-control"
              required
            >
              <option value="">Виберіть категорію</option>
              <option *ngFor="let c of cat" [value]="c.id">{{c.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="categories.touched && categories.invalid">
              Це поле обов'язкове.
            </div>
          </div>
          <button class="btn btn-primary mt-3" [disabled]="projectName.invalid || projectDescription.invalid || projectLink.invalid || categories.invalid">Зберегти</button>
        </form>
      </div>
    </div>
  </div>
</div>
