/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/*===== Default Style Start =====*/
a{
  text-decoration: none;
  color: #000 !important;
}
a:hover{
  text-decoration: none !important;
  color: #000 !important;
}
/*===== Change Bootstrap Card-Title Hover Start =====*/
.card.card-body:hover .card-title{
  color: #93ceff !important;
}
/*===== Change Bootstrap Card-Title Hover End =====*/
/*===== Default Style End =====*/
/*===== Custom Style Start =====*/
/*===== Category Start =====*/
.category-list {
  border-radius: 30px;
  box-shadow: 0px 5px 30px 1px rgba(158, 201, 237, .5);
  background-color: #2eabfc !important;
  color: #fff !important;
}
.category-list.active {
  background-color: #fff !important;
  color: #000 !important;
}
.category-list + .category-list {
  margin-top: 5px;
}
.category-list:hover {
  background-color: #2eabfc !important;
}
/*===== Category End =====*/
/*===== Project Section Start =====*/
.shadow-project {
  box-shadow: 0px 5px 30px 1px rgba(0,0,0,.3);
}
/*===== Project Section End =====*/
/*===== Menu Start =====*/
.navbar.navbar-expand-lg.navbar-dark.global-bg a{
  color: #fff !important;
}
.navbar.navbar-expand-lg.navbar-dark.global-bg a:hover{
  color: #93ceff !important;
}
/*===== Menu End =====*/
/*===== HomePage Map Start =====*/
g polygon {
  cursor: pointer;
}
/*===== HomePage Map End =====*/

/*===== Custom Style End =====*/
